<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>@ViewBag.Title FieldSet Pedidos e Estoque</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="header ">
                <ul class="nav nav-pills pull-right">
                    <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Produto", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Entrada Mercadoria","Entrada", "Produto", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Consultar", "Buscar", "Produto", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Baixar Estoque", "Editar", "Cliente", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Relatorio", "Relatorio", "Pedido", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Voltar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                <h2 class="text-muted"><b>Produtos</b></h2>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p><b>&copy; @DateTime.Now.Year - FieldSet Systems S/A.</b></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
